@import 'partials/colors';

body {
  background-color: $bg;
  color: $text;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

.fullscreen {
  width: 100%;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
